html,
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Comfortaa', cursive, sans-serif;
    font-weight: 500;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
