$nav: rgb(60, 6, 94);
$button: rgb(41, 183, 221);
$buttonHover: rgb(33, 154, 187);
$inputInner: rgb(231, 248, 253);

$blueishPurple: rgb(93, 59, 231);
$pinkyPurple: rgb(139, 114, 238);
$lightBlue: rgb(41, 183, 221);
$blue: rgb(20, 60, 112);
$lightBlueBorders: rgba(41, 183, 221, 0.5);
$pink: rgb(189, 114, 239);
$error: rgb(233, 76, 89);
$allOK: rgb(57, 201, 141);
$link: rgb(24, 27, 202);
